<%= render 'layouts/top_dashboard' %>
   <!--- Content !--->
    <div class="grid">
        <div class="item">
          <div class="item__details">
            Operational Statistics
          </div>
        </div>
        <div class="item item--large">
          <div class="item__details">
            Upload a picture of your staff
          </div>
        </div>
        <div class="item item--medium">
          <div class="item__details">
            Meal Statistic
          </div>
        </div>
        <div class="item item--large">
          <div class="item__details">
            Satisfaction index
          </div>
        </div>
    </div>

     <!--- /Content !--->
  </div>
<%= render 'layouts/btm_dashboard' %>
