// Specific CSS for your home-page
.about-us-container {

  padding: 10% 0;
  background-color: #ffffff;
  text-align: center;
  margin: 0 auto;
}

.about-us-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-us-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-us-text {
  text-align: justify;
  width: 60%;
  color: #333;
}

.about-us-logo img {
  max-width: 200px;
  height: auto;
  display: block;
  margin: 20px auto;
}

.restaurant-cards {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card-scroll {
    display: inline-block;
    min-width: 325px;
    max-width: 325px;
  }

  .card-category {


    p {
      // text-wrap: balance;
      text-align: center;
    }
  }
}
