// Specific CSS for your home-page
.about-us-container {

  padding: 5% 0;
  background-color: #ffffff;
  text-align: center;
  margin: 0 auto;
}

.about-us-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-us-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-us-text {
  text-align: justify;
  width: 60%;
  color: #333;
}

.about-us-logo {
  width: 35%;
  img  {

    max-width: 450px;
    height: auto;
  }
  // margin: 20px auto;
}

.restaurant-cards {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card-scroll {
    display: inline-block;
    min-width: 325px;
    max-width: 325px;
  }

  .card-category {


    p {
      // text-wrap: balance;
      text-align: center;
    }
  }
}

.restaurant-container {
  background-color: #F6E9B2;
}

.btn-banner {
  border-radius: 5px;
  border: 2px solid $banner;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 15px;
  transition: all 300ms ease-in;

  &:hover {
    background-color: $banner;
    color: #1a1a1a;
  }
}
