.form-meals-new {
  background-color: #cd7070;
  border-radius: 15px;
  padding: 20px;
  box-shadow:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 500px;
}

.meal {
  font-family: 'Times New Roman', Times, serif;
}

.form-group {
  input {
    border-radius: 10px;
  }

  textarea {
    border-radius: 10px;
  }

  label {
    font-weight: bold;

  }

}

.btn-normal {
  width: 150px;
  background-color: $customyellow;
  font-weight: bold;
}

.btn-param {
  background-color: $customyellow;
  font-weight: bold;
  border-radius: 10px;
}
