.form-meals-new {
  background-color: #FF7D29;
  border-radius: 30px;
  padding: 20px;
  box-shadow:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 500px;
}

.meal {
  font-family: 'Times New Roman', Times, serif;
}

.form-group {
  input {
    border-radius: 30px;
  }

  textarea {
    border-radius: 30px;
  }

  label {
    font-weight: bold;

  }

}

.btn-primary {
  width: 150px;
}
