.order-header {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

.order-details {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.order-card {
  background-color: white;
  padding: 10px;
}

.container-orders {
  border-radius: 7px;
  border: solid 1px gray;
  background-color: white;
}
