.order-header {
  text-align: center;
  color:rgb(0, 0, 0);
  margin-bottom: 20px;
  font-weight: bold;
}

.order-details {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.order-card {
  background-color: white;
  padding: 10px;
}

.container-orders {
  border-radius: 7px;
  border: solid 1px gray;
  background-color: white;
  min-height: 500px;
}

.table > :not(caption) > * > * {
  background-color: white;
}

.container-orders {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #343a40;
}

.table thead {
  background-color: #343a40;
  color: white;
}

.table tbody tr {
  transition: background-color 0.2s ease;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

.table-dark {
    --bs-table-color: #000000;
    --bs-table-bg: #212529;
    --bs-table-border-color: #4d5154;
    --bs-table-striped-bg: #2c3034;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #323539;
    --bs-table-hover-color: #fff;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
    border: solid black;
}
