<!-- Site footer -->
<footer class="site-footer text-white">
  <div class="container">
    <div class="footer-content">
      <!-- Logo Section -->
      <div class="">
        <%= image_tag "hf-logo-foot.png", alt: "Hurban Food", width: 200, class: "img-fluid" %>
      </div>
      <!-- About Section -->
      <div class="footer-copyright">
        © 2024, <strong>Hurban Food</strong>, Inc. or its affiliates
      </div>
      <!-- Links Section -->
      <div class="social-icons-container">
        <ul class="social-icons">
          <li class="social-icon"><a class="facebook"><i class="fa-brands fa-square-facebook"></i></a></li>
          <li class="social-icon"><a class="twitter"><i class="fa-brands fa-square-twitter"></i></a></li>
          <li class="social-icon"><a class="instagram"><i class="fa-brands fa-square-instagram"></i></a></li>
          <li class="social-icon"><a class="github"><i class="fa-brands fa-square-github"></i></a></li>
        </ul>
      </div>
    </div>
    <!-- Back to Top -->
        <a href="#" class="back-top"><i class="fa-solid fa-circle-chevron-up fa-fw"></i></a>
  </div>
</footer>
