  <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">
"Hurban Food" is your go-to food app for urban cravings. Discover a diverse range of culinary delights from local eateries, trendy cafes, and hidden gems within your vicinity. Whether you're in the mood for a quick bite or a gourmet meal, Hurban Food makes ordering easy with seamless delivery or pickup options..</p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12 m-5">
            <%= image_tag "logo.png", alt: "Hurban Food", width: 150 %>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
         <a href="#">Scanfcode</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
</footer>
