<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://source.unsplash.com/random/?restaurant');">
  <div class="container">
    <h1 class=" order-title text-center">Create <strong>your new order</strong> <strong>below !</strong></h1>
  </div>

</div>

<div class="container mb-5 mt-4 px-5 col-4 form-order">
  <div class="mb-6">
    <%= simple_form_for @order do |f| %>
    <div class="form-group">
      <%= f.input :amount, label: "Amount", input_html: { class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= f.button :submit, "Create Order", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>
