.form-restaurant {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 25px;
  color: dark;
  font-weight: bold;
  border-radius: 8px;
}



.banner {
    background-size: cover;
    background-position: bottom;
    padding: 150px 0;
    height: 400px;

}

.restaurant-title {
  color: orange !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


.form-restaurant{
   background-color:rgb(168, 170, 162);
}

.meal{
  font-weight: bold;
}


.king{
  background-color:b;
}



.big-container {
  justify-content: center;
  padding: 20px 20px 20px 50px;
  width: fit-content;
  height: 500px;
  margin-top: 3rem;
  background-color: #CE7A27;
  border-radius: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form-inputs {
 input {
  border-radius: 20px;
 }

 label {
  font-weight: bold;
 }

 }

.form-infos {
  padding: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;

  h1 {
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
  }

  p {
    font-weight: bold;
    color: rgb(16, 0, 0);
    font-family:'Times New Roman', Times, serif;
    text-align: center;
  }
}

.restaurant-info {
    border-radius: 30px;
    padding: 20px;
    height: 50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .restaurant-title {
      border-radius: 10px;
      font-weight: bold;
      color: black!important;
      font-family: 'Times New Roman', Times, serif;
      box-shadow: none;
    }
}

.btn-dark {
  border-radius: 20px;
 }

 .food-img {
  img{
    height: 235px;
    width:  300px;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 3rem;

 }
}
