.form-restaurant {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 25px;
  color: dark;
  font-weight: bold;
  border-radius: 8px;
}



.banner {
    background-size: cover;
    background-position: bottom;
    padding: 150px 0;
    height: 400px;

}

.restaurant-title {
  color: orange !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

h2 {
  font-weight: bold;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.devise {
  background-image: url("https://www.usda.gov/sites/default/files/2021-06/fsis-tips-restaurant-leftovers-blog-062121.jpg");
  background-position: bottom;
  height: 400px;
  background-size: cover;
}

.form-restaurant{
   background-color:rgb(168, 170, 162);
}

.meal{
  font-weight: bold;
}


.king{
  background-color:b;
}
