.grid-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.gap-3 {
  gap: 3rem;
}

.gap-4 {
  gap: 4rem;
}

.gap-2 {
  gap: 2rem;
}

.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
