h1 {
  padding: 10px;
  box-shadow:rgba(48, 113, 4, 0.2);
  font-weight: bold;
  background-color:$customyellow;
  border: 2px solid $customyellow;
  border-radius: 10px;
}

.btn-m {
  border-radius: 10px;
  background-color: #F3CA52;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 15px;
  transition: all 300ms ease-in;
  width: none;
  height: 43px;

  &:hover{
    border: 2px solid $banner;
    background-color: unset;


  }
}

.btn-layout-restaurant {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.my-restaurants-container {
  background-color:white !important;
}

.restaurant-dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  overflow-x: unset !important;
  overflow-y: unset !important;
  white-space: nowrap;
}

.card-category-imgs {
  width: 380px;
}

.card-body {

  border-radius: 6px;
  border: 3px solid $customyellow;
  box-shadow: $customyellow 0px 1px 2px;
  padding: 5px;

}

.restaurant-btn {
  display: flex;
  justify-content: space-around;
}

.resto {
  p {
    font-weight: bold;
    background-color: $orange;
    border-radius: 10px;
    padding: 10px 15px;
    height: 43px;


  }
}
