.banner-restaurant img {
  height: 400px;
  width: 850px;
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}
.restaurant-info {
  border-radius: 10px;
  padding: 15px 20px;
  background-color: white;



  h2 {
    color: #0A6847;
    font-size: 40px;
    font-weight: bold;

  }
  p {
    color: #5e5a5a



  }
}

.img-chef {
  width: 150px;
  height: 250px;
  border-radius: 10%;
  background-image: url("homer.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 10px rgba(251, 190, 35, 0.5);
  animation: flip 4s infinite;
}
@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}


.chef-images-container {
  height: 50%;
}
.img-fluid-radius {
  border-radius: 10px;

}
.info-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  color: #0A6847;
}
.info-menu:hover {
  opacity: 1;
  transform: translateY(0);
}

.banner-restaurant-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  width: 45%;
}
.display-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.inner-container {
  background-color: #f0f0f0;

}
.card-img {
  width: 200px;
}
.card-meal {
  box-shadow:rgba(48, 113, 4, 0.2);
}

