
.sticky-top-dashboard {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 1000; /* Adjust as needed */
  /* Additional styling */
  background-color: white; /* Example background color */
  padding: 10px; /* Example padding */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Example box shadow */
}
.sticky-btm-dashboard {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  bottom: 0;
  z-index: 1000; 

  background-color: white;
  padding: 10px;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
}
