<nav class="main-menu">
  <ul>

    <li>
      <a href=<%= root_path %>>
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
            Home
        </span>
      </a>
    </li>

    <% if current_user.owner? %>
     <li>
      <a href= <%= dashboard_path %>>
        <i class="fa fa-user"></i>
        <span class="nav-text">
            My restaurants
        </span>
      </a>
    </li>


    <li class="has-subnav">
        <a href=<%= orders_path %> >
          <i class="fa fa-burger fa-2x"></i>
          <span class="nav-text">
              My orders
          </span>
        </a>
    </li>

    <li class="has-subnav">
        <a href="#">
          <i class="fa fa-clipboard-user fa-2x"></i>
          <span class="nav-text">
              My Staff
          </span>
        </a>
    </li>


    <% else %>

      <li class="has-subnav">
        <a href="#">
          <i class="fa fa-clipboard-user fa-2x"></i>
          <span class="nav-text">
              My Orders
          </span>
        </a>
    </li>

    <li>
      <a href="edit_restaurant_meal_path">
        <i class="fa fa-burger fa-2x"></i>
        <span class="nav-text">
            My Favourites
        </span>
      </a>
    </li>
    <% end %>

    <ul class="logout">
      <li>
        <a href="#">
          <i class="fa fa-power-off fa-2x"></i>
          <span class="nav-text">
              Logout
          </span>
        </a>
      </li>
    </ul>
  </ul>
</nav>

<div class="dashboard-container">
  <div class='mode-toggle'>
    <input type="checkbox" class="sr-only" id="darkmode-toggle">
    <label for="darkmode-toggle" class="toggle">
      <span>Toggle dark mode</span>
    </label>
  </div>
  <div class='dashboard-body'>
